html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

@keyframes bringBodyIn {
  0% {
    transform: translateX(0vw) skewY(180deg);
  }
  100% {
    transform: translateX(0) skewY(0deg);
  }
}

body {
  animation: bringBodyIn 1s forwards;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: clamp(3rem, 7vw, 7rem);
  font-family: 'Lato', sans-serif;
  color: black;
  line-height: 1;
  font-weight: 300;
  text-align: left;
}

h2 {
  font-weight: 300;
}
